extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='site') Site:
      input#site.form-control(type='text', placeholder='required', name='site', value=(undefined===site ? '' : site))
      br
      label(for='block') Block:
      input#block.form-control(type='text', placeholder='optional', name='block', value=(undefined===block ? '' : block))
      br    
      label(for='afterDate') After:
      input#afterDate.form-control(type='date', name='afterDate')
      br
      label(for='beforeDate') Before:
      input#beforeDate.form-control(type='date', name='beforeDate')
      br
      button.btn.btn-primary(type='submit') Search 
  
  if errors
    ul 
      for error in errors
        li!= error.msg