doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      // NOTE: Script will fail if additional pages are added...

      window.onload = (event) => {
        console.log('page is fully loaded');
        const sites = document.getElementById('site');
        const blocks = document.getElementById('block')
        var data 

        function loadSites() {
          for(site of data) {
                  var option = new Option(site.name, site.name)
                  sites.appendChild(option)
                }

          // The blocks event listener doesn't fire when sites are first loaded so we call the function here
          if(Array.from(blocks).length < 1) {
            console.log("no blocks yet!")
            loadBlocks(sites.value)
          }
        }

        function loadBlocks(siteName) {
          const index = data.map(e => e.name).indexOf(siteName);

          Array.from(blocks).forEach((option) => {
            blocks.removeChild(option)
          })
          
          // As of now, block number is required for search
          // But if it wasn't... you could add an empty option like this:
          //- var option = new Option("<None>", null, true, true)
          //- blocks.appendChild(option)

          for(block of data[index].blocks) {
            var option = new Option(block, block)
            blocks.appendChild(option)
          }  
        }

        sites.addEventListener("change", (event) => {
          loadBlocks(sites.value)
        })

        fetch('/info')
          .then(response => {
            response.json()
              .then(json => {
                console.log(json)
                data = json
                loadSites()
              })
          })
      };
  body
    block content
